<div class="tasks-container">
  <header class="header">
    <div style="display: flex; flex-direction: column; align-items: flex-start; padding-bottom: 20px;">
      <h2>Lista de Tareas</h2>
      <mat-chip>
        <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
          alt="Photo of a Shiba Inu" />
        {{email}}
      </mat-chip>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
    </mat-menu>
  </header>
  <ng-container *ngIf="tasks.length > 0; else noTasks">
    <app-task-item *ngFor="let task of tasks" [task]="task" (taskEdited)="openTaskModal(task)"
      (taskDeleted)="deleteTask(task.id)" (taskUpdated)="updateTaskStatus($event)"></app-task-item>
  </ng-container>
  <ng-template #noTasks>
    <p>No hay tareas pendientes.</p>
  </ng-template>
  <button mat-fab class="add-task-btn" (click)="openTaskModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>
