.cancel-button {
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px;
}


.confirm-button {
  background-color: #4caf50; 
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px;
}


.cancel-button:hover {
  background-color: #d32f2f; 
}

.confirm-button:hover {
  background-color: #388e3c; 
}