<h2 mat-dialog-title>{{ data ? 'Editar Tarea' : 'Nueva Tarea' }}</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" />
      <small *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
        El nombre es obligatorio (mínimo 3 caracteres).
      </small>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <small *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched">
        La descripcion es obligatoria.
      </small>
    </mat-form-field>
    <mat-slide-toggle formControlName="status">Completada</mat-slide-toggle>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button color="warn" *ngIf="data && !data.status" (click)="deleteTask()">Eliminar</button>
  <button mat-button (click)="saveTask()">Guardar</button>
</mat-dialog-actions>
